/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "M PLUS 2", sans-serif;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #528f6a;
  height: 80px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: white; 
  text-decoration: none; /*aタグにはじめから付いている下線を消す*/
}
header h1 {
  color: white;
  margin-left: 20px;
}
.header-list {
  display: flex;
  align-items: center;
}
header ul {
  display: flex;
}
header li {
  list-style: none; /*箇条書きを消す*/
  margin-right: 40px;
}

.logout-button {
  font-size: 15px; /* buttonUnderlineとフォントサイズを合わせる */
  font-weight: bold;
  background-color: transparent; /* 背景色を透明にする */
  color: white;
  border: none; /* 枠線を消す */
  padding: 0; /* paddingをリセット */
  cursor: pointer; /* マウスオーバー時にカーソルをポインターにする */
}
.buttonUnderline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 0 24px;
  overflow: hidden;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  overflow-wrap: anywhere;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.buttonUnderline::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  content: "";
  background-color: #b2cf9d;
  transform: scaleX(0);
  transform-origin: right top;
}

@media (any-hover: hover) {
  .buttonUnderline::after {
    transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .buttonUnderline:hover::after {
    transform: scaleX(1);
    transform-origin: left top;
    transition: transform 0.4s cubic-bezier(0.9, 0, 0, 1);
  }
}