.image {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.image p {
  color: white;
  font-family: serif;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  animation: slidein 3s;
  z-index: 2;
  text-align: center;
}

.splide__slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;

}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


.sentence1{
  font-weight: bold;
  padding: 100px 50px 20px 50px;
  font-size: 50px;
  flex-shrink: 0;
}

.sencente2{
  width: 346px;
  height: 306px;
  padding: 45px 0 180px 0;
  flex-shrink: 0;
}

.slideshow{
  overflow: hidden;
  padding: 50px;
  display: flex;
  align-items: center;
  // width: 200px;
  // height: 100px;
  object-fit: cover;
}

.slideshow {
  display: flex;
  gap: 10px; /* 画像間の余白 */
  overflow-x: auto;
  padding: 10px;
}

.slideimage {
  width: 600px;
  height: 800px;
  padding: 5px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 8px;
  animation: loop-slide 10s infinite linear 1s both;
}

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.intro-sen1{
  text-align: center; 
  font-family: "M PLUS 2", sans-serif;
  font-weight: bold;
  padding: 200px 50px 50px 50px;
  font-size: 50px;
  flex-shrink: 0;
}

.intro-sen2{
  text-align: center; 
  font-family: "M PLUS 2", sans-serif;
  padding: 10px 50px 100px 50px;
  font-size: 20px;
  flex-shrink: 0;
}

.ninki {
  padding-left: 50px;
}

.tweets-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 1行に3つ */
  gap: 30px; /* 要素間の余白 */
  padding: 20px;
  margin-top: 2px;

}
h3 {
  width: 100px;
  margin: 30px auto;
  text-align: center;
}
.tweet {
  flex: 0 0 500px; /* 各ツイートの横幅を固定 */
  min-width: 500px; /* 最小幅も固定に */
  max-width: 500px;
  border: solid 1px #528f6a;
  /*border-radius: 10px; */
  padding: 30px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.main-box {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
.time {
  display: flex;
  justify-content: flex-end;
}

.titleimage img{
  margin-top:20px;
  padding-top: 20px;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.titleimage img:hover{
  transform: scale(1.05);
}

.twitter-tweet {
  margin-top: 20px;
  padding-top: 20px;
}

.left-container iframe {
  display: block;
  margin-top: 10px;
}

.t-title {
  font-size: 28px;
  font-weight: 700;
  font-family: "M PLUS 2", sans-serif;
  color: #214471;
  background: linear-gradient;
  text-decoration: none;
  transition: color 0.2s ease;

}
.t-title:hover {
  color: #528f6a; /* 好きな色に変更可能 */
  text-decoration: underline; /* 任意で追加 */
}

.user-info {
  display: flex; /* Flexboxを適用 */
  align-items: center; /* 垂直方向の中央揃え */
  gap: 8px; /* 画像とユーザー名の間の隙間 */
  margin-top: 5px; /* 上部との余白を調整 */
}

.t-image img {
  border-radius: 50%; /* 画像を丸くする */
  /* 必要に応じて、画像のサイズをここで調整できます */
  /* width: 25px; height: 25px; など */
}

.t-name {
  font-size: 21px;
  font-weight: 700;
  font-family: "M PLUS 2", sans-serif;
  color: #214471;
  text-decoration: none;
  /* `flexbox`で配置するため、不要な改行タグは削除してもOKです */
}
.t-name:hover {
  color: #99d8a7; /* 好きな色に変更可能 */
  text-decoration: underline; /* 任意で追加 */
}

.right-container {
  margin-top: 20px;
  text-align: right;
}

.edit-link, .delete-button {
  margin-right: 10px;
}

.delete-button{
    background-color: #528f6a;
    color: #214471;
    width: 100px;
    height: 40px;
    padding: 3px;
    border-radius: 10%;
    margin-bottom: 1px;
    font-weight: bold;
  }
  .delete-button:hover{
    background-color: #214471;
    color: #ffffff;
    width: 100px;
    height: 40px;
    padding: 3px;
    border-radius: 10%;
    margin-bottom: 1px;
    font-weight: bold;
  }

  .sch{
    width: 1000px;
    height: 300px;
    padding: 100px 50px 100px 50px;
    margin: 50px auto;
    flex-shrink: 0;
    border: 2px solid #000000;
    font-family: "M PLUS 2", sans-serif;
    text-align: center;
  }

  .sch-1{
    font-weight: bold;
    font-size: 50px;
  }

  .sch-2{
    font-size: 24px;
  }

.sch-3 {
  display: flex;            /* Flexboxを有効にする */
  justify-content: flex-end; /* 子要素を右寄せ */
}
.sch-3 img {
  height: 100px;
}

  .image2 {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.image2 p {
  color: white;
  font-family: serif;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  animation: slidein 3s;
  text-align: center;
}

.image2 img {
  width: 100%;
  height: auto;
  max-width: 1200px; /* 必要に応じて最大幅を指定 */
  display: block;
  margin: 0 auto; /* 中央寄せ */
}
